
{% extends 'base.html' %}
{% load static %}
{% block body %}


    <!-- ##### Breadcumb Area Start #####  style="background-image: url({%static 'img/bg-img/bg-8.jpg'%});" --> 
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(); " > 
        <div class="bradcumbContent">
          {% block h2 %}  
            
          {% endblock h2 %}
        </div>
    </section>

    <div class="book-now-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <div class="book-now-form">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="contact-information-area">
        <div class="container">
            <div class="row">

                <div class="col-12 col-lg-4">
                </div>

        </div>
    </section>

    <section class="contact-form-area mb-100">
        <div class="container">

            <div class="row">
                <div class="col-12">
                     {% block contant %}

                     {% endblock contant %}
                </div>
            </div>
        </div>
    </section>






{% endblock body %}